html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-image: linear-gradient(90deg, #edc284 0%, #e59f52 100%);

    --zest-200: #f4dbb4;
    --zest-300: #edc284;
    --zest-400: #e59f52;
    --zest-500: #e18c3c;
    --zest-600: #d16d25;
    --zest-700: #ad5521;
    --zest-800: #8b4421;
}

a {
    cursor: pointer;
}

nav {
    font-weight: 700;
    font-size: 110%;
}

.pb-3 {
    font-size: 2.75rem;
}

.txtNav {
    line-height: 3;
}

.c-carousel {
    border: solid;
    border-color: #8b4421;
    border-radius: 10% / 150%;
    border-width: .7rem;
}

.landing-page {
    background-image: url("../img/fondo1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.pLanding {
    font-size: 4rem;
    font-weight: 700;
    font-style: italic;
}

.mapa {
    border-radius: 5%
}